* {
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
}

body {
    Font-size: 15px;
    font-family: 'Lexend Deca'sans-serif;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
}

img {
    margin-bottom: 20px;
}
button:hover{
    background-color: hsl(0, 0%, 48%);
}

button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
}

footer {
    margin: auto;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    margin-top: 200px;
    height: 500px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    padding: 50px;
    border-radius: 10px 0 0 10px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 50px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 50px;
    border-radius: 0 10px 10px 0;
}

@media (max-width: 767.98px) {
    .container {
        flex-direction: column;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .sedans {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }
}